@model IEnumerable<Blog.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h2></h2>

@foreach (var post in ViewBag.ThreeLastPosts)
{
    <div class="col-md-4">
        <h2>@post.Title</h2>
        <p>@post.Text.substring(50)</p>
        <p>
            @Html.ActionLink("Читать далее", "Detail", "Post", new { id = @post.Id }, new { @class = "btn btn-default" })
        </p>
    </div>
}


